* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

img {
    width: 330px;
}

.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    color: #333;
}

p {
    color: #666;
    margin: 15px;
    line-height: 1.5;
}

.redes a:hover {
    background-color: #ff9b9b;
    color: white;
}

.redes:hover {
    transform: scale(1.2);
}

.redes {
    margin-bottom: 25px;
    transition: 0.3s;
}

.botao {
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
    transform: scale(1.2);
}

.botao a:hover {
    background-color: #ff9b9b;
    color: white;
}
