.menu-opcoes ul {
    font-size: 15px;
}
.menu-opcoes a {
    color: #003366;
}


.sacola {
    background-image: url(img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 15px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}
body {
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul li {
    display: inline;
}
